.f-row{
    margin-bottom: 20px;
}

.f-row > label{
    width: 18%;
    display: inline-block;
}

.f-row:not(.genres) > input{
    width: 80%;
}

.gallery_area {
    float:right;
}

.f-row-setting{
    margin-bottom: 20px;
}

.f-row-setting > span{
    margin-right: 30px;
}

.image_container {
    float:left!important;
    width: 100px;
    background: url('https://i.hizliresim.com/dOJ6qL.png');
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    cursor: pointer;
}

.image_container img{
    height: 100px;
    width: 100px;
    border-radius: 3px;
    object-fit: contain;
}

.clear {
    clear:both;
}

#gallery_wrapper {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

#gallery_wrapper input[type=text] {
    width:300px;
}

#gallery_wrapper .gallery_single_row {
    float: left;
    display:inline-block;
    width: 100px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px;
}

.dolu {
    display: inline-block!important;
}

#gallery_wrapper label {
    padding:0 6px;
}

.button.remove {
    background: red;
    height: auto;
    min-height: initial;
    color: #f1f1f1;
    position: absolute;
    border: none;
    top: -10px;
    right: -3px;
    font-size: 11px;
    padding: 3px 7px;
    box-shadow: none;
    line-height: initial;
    border-radius: 15px;
}

.button.remove:hover {
    opacity: 0.8;
}

.button.add {
    background: #c3c2c2;
    color: #ffffff;
    border: none;
    box-shadow: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 4em;
}

.button.add:hover, .button.add:focus {
    background: #e2e2e2;
    box-shadow: none;
    color: #0f88c1;
    border: none;
}