.f-row{
    margin-bottom: 20px;
}

.f-row > label{
    width: 18%;
    display: inline-block;
}

.f-row > input,
.f-row > textarea{
    width: 80%;
}

#kmovies-errors{
    color: red;
    margin-bottom: 30px;
}

.movie-details{
    display: none;
    min-height: 650px !important;
}

.ui-dialog.ui-corner-all.ui-widget{
    background-color: aqua;
    padding: 20px;
}

#load-more{
    background: green;
    color: white;
    padding: 10px 25px;
}

#load-more:hover{
    opacity: 0.8;
}